@use "../base/variables.scss" as *;
@use "../base/functions" as fn;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  color: $dark;
  text-decoration: none;
}

.container {
  inline-size: 100%;
  padding-inline: 10px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-inline: 0;
    margin-inline: auto;
    max-inline-size: 720px;
  }

  @media screen and (min-width: 1200px) {
    max-inline-size: fn.fluid-value(1140px, 1200px, 1440px, 1920px);
  }

  // @media screen and (min-width: 1920px) {
  //   max-inline-size: 1440px;
  // }
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}
