@mixin autofill($bg-color, $text-color, $caret-color: $text-color) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px $bg-color inset !important;
    -webkit-text-fill-color: $text-color !important;
    caret-color: $caret-color !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@mixin scroll-anim(
  $name,
  $timeline: view(),
  $start: 0%,
  $end: 30%,
  $easing: linear
) {
  animation-name: $name;
  animation-timing-function: $easing;
  animation-fill-mode: both;

  animation-timeline: $timeline;
  animation-range: entry $start cover $end;
}
