@use "./libs/fontello.css";
@use "./libs/modern-normalize.min.css";

@use "./base/basic.scss";

@use "./ui/titles.scss";
@use "./ui/buttons.scss";
@use "./ui/form.scss";

@use "./blocks/header.scss";
@use "./blocks/promo.scss";
@use "./blocks/activities.scss";
@use "./blocks/touch.scss";
@use "./blocks/works.scss";
@use "./blocks/footer.scss";
