@use "./libs/fontello.css";
@use "./libs/modern-normalize.min.css";

@use "./base/basic.scss";
@use "./base/animations";
@use "./base/utilities";

@use "./ui/titles.scss";
@use "./ui/buttons.scss";
@use "./ui/form.scss";
@use "./blocks/products-view.scss";
@use "./blocks/product-card.scss";
@use "./blocks/blog-card";

@use "./blocks/header.scss";
@use "./blocks/footer.scss";

@use "./blocks/promo.scss";
@use "./blocks/activities.scss";
@use "./blocks/touch.scss";
@use "./blocks/works.scss";

@use "./blocks/catalog.scss";

@use "./blocks/blog.scss";

@use "./blocks/story.scss";
@use "./blocks/find-us";
