@use "../base/variables.scss" as v;
@use "../base/functions.scss" as fn;

.blog-card {
  background: v.$light;
  box-shadow: 5px 5px 10px 0px #00000040;

  display: inline-block;
  width: 100%;
  margin-block-end: 50px;
  break-inside: avoid;

  &__header {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__img-link {
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

    padding-inline: 25px;
    padding-block-start: 25px;

    width: 100%;

    border-left: 1px solid v.$dark;
    border-right: 1px solid v.$dark;

    @media screen and (min-width: 768px) {
      border-left: none;
      border-top: 1px solid v.$dark;
    }
  }

  &__title {
    text-align: start;
  }

  &__btn {
    margin: 0;
  }

  &__body {
    padding: 25px;
    text-align: justify;

    border: 1px solid v.$dark;
    border-top: none;
  }
}
