@use "../base/variables" as v;
@use "../base/functions" as fn;

.header {
  padding-block-start: fn.fluid-value(50px, 1200px, 40px, 1920px);

  &__potter {
    display: none;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    max-inline-size: fn.fluid-value(450px, 1200px, 640px, 1920px);
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  &__logo {
    max-inline-size: fn.fluid-value(100px, 1200px, 150px, 1920px);
    max-block-size: fn.fluid-value(100px, 1200px, 150px, 1920px);
    grid-column: 2;
  }

  &__icons {
    display: flex;
    justify-self: end;
    align-self: flex-start;
    gap: 15px;
    grid-column: 3;
    span {
      display: block;
      font-size: 20px;
      height: 20px;
    }
  }

  &__nav {
    position: fixed;
    inset: 0;
    z-index: 90;

    background-color: v.$light;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;

    opacity: 0;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 24px;
    padding-block: 114px;

    transition: opacity 0.4s ease, visibility 0.4s ease;

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 0;
      list-style: none;
    }

    &.is-open {
      display: flex;
    }

    &.is-animate {
      opacity: 1;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      position: static;
      opacity: 1;
      visibility: visible;
      width: auto;
      height: auto;
      background-color: transparent;
      padding: 0;
      margin-block-start: fn.fluid-value(20px, 1200px, 36px, 1920px);
      transition: none;

      ul {
        flex-direction: row;
        justify-content: center;
        gap: fn.fluid-value(30px, 1200px, 60px, 1920px);
      }
    }
  }

  &__link {
    color: v.$dark;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

.burger {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  -webkit-tap-highlight-color: transparent;

  span {
    width: 20px;
    height: 1px;
    background-color: v.$dark;
    border-radius: 1px;
    transition: all 0.5s linear;
  }

  &:focus-visible {
    border-radius: 2px;
    outline-offset: 5px;
  }

  &[aria-expanded="true"] {
    span:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: translateX(-10px);
    }

    span:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
    // transition: none;
    // visibility: hidden;
  }
}
