@use "../base/variables" as v;
@use "../base/functions" as fn;

.products-view {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__tabs {
    margin-block-start: 60px;
    padding-inline: 20px;
    padding-block: 13px;
    display: flex;
    row-gap: 13px;
    column-gap: 40px;
    flex-wrap: wrap;
    border: 1px solid v.$dark;
  }

  &__tab {
    padding: 0 5px;
    margin: 0;
    border: none;
    background: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #000;
      height: 2px;
      width: calc(100% - 10px);
      bottom: -3px;

      opacity: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: opacity 0.3s ease, transform 0.5s ease;
    }

    &--active::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 20px;
    position: relative;

    @media screen and (min-width: 768px) {
      padding-inline: fn.fluid-value(10px, 768px, 25px, 1200px);
      padding-block: fn.fluid-value(10px, 768px, 25px, 1200px);

      &::before,
      &::after {
        content: "";
        display: block;
        background-color: v.$dark;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::before {
        height: 1px;
        width: 220px;
      }

      &::after {
        height: 220px;
        width: 1px;
      }
    }
  }
}
