@use "../base/variables" as v;
@use "../base/functions" as fn;

.product-card {
  max-width: 340px;
  width: 100%;
  box-shadow: 5px 5px 10px 0px #00000040;
  display: flex;
  flex-direction: column;

  &__img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 340 / 198;
  }

  &__text {
    padding-block-start: 11px;
    padding-block-end: 16px;
    padding-inline: 12px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;

    border: 1px solid v.$dark;
  }

  &__title,
  &__price {
    font-weight: 500;
    font-size: 16px;
  }

  &.is-visible {
    animation: fade-in 0.5s ease forwards;
  }

  &.is-hidden {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
