@use "../base/variables" as v;
@use "../base/functions" as fn;

.header {
  padding-block-start: fn.fluid-value(50px, 1200px, 40px, 1920px);

  &__potter {
    display: none;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    max-inline-size: fn.fluid-value(450px, 1200px, 640px, 1920px);
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  &__logo {
    max-inline-size: fn.fluid-value(100px, 1200px, 150px, 1920px);
    max-block-size: fn.fluid-value(100px, 1200px, 150px, 1920px);
  }

  &__icons {
    display: flex;
    justify-self: end;
    align-self: flex-start;
    gap: 15px;
    span {
      display: block;
      font-size: 20px;
      height: 20px;
    }
  }

  &__nav {
    display: none;
    margin-block-start: fn.fluid-value(20px, 1200px, 36px, 1920px);
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      gap: fn.fluid-value(30px, 1200px, 60px, 1920px);
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__link {
    color: v.$dark;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  span {
    width: 20px;
    height: 1px;
    background-color: v.$dark;
  }

  @media screen and (min-width: 768px) {
    visibility: hidden;
  }
}
