/*
 * ========================================================================
 * ARCHITECTURE NOTE:
 *
 * This button system intentionally isolates each role modifier
 * (e.g., .btn--large, .btn--medium).
 *
 * There is deliberate code duplication in the pseudo-states
 * (:hover, :active) between certain roles, like .btn--medium
 * and .btn--small.
 *
 * DO NOT "DRY" OR GROUP THESE SELECTORS.
 *
 * This isolation is a strategic decision. It ensures that modifying
 * one role's behavior (e.g., changing :active for .btn--small)
 * will not accidentally break another role (.btn--medium) or
 * force a complex refactor.
 *
 * This file prioritizes COMPONENT ISOLATION over academic DRY principles.
 * ========================================================================
 */

@use "../base/variables.scss" as v;
@use "../base/functions.scss" as fn;

.btn {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: v.$light;
  border: 1px solid;
  cursor: pointer;

  transition: all 0.3s ease;

  inline-size: 100%;
}

.btn--large {
  font-size: 20px;
  width: fn.fluid-value(230px, 1200px, 330px, 1920px);
  min-height: fn.fluid-value(50px, 1200px, 60px, 1920px);

  &:hover {
    background-color: v.$dark;
    color: v.$light;
  }

  &:active {
    background-color: v.$ui-active;
    box-shadow: 0px 0px 10px 1px #00000066 inset;
    border-color: v.$ui-active;
  }

  &:disabled {
    border-color: v.$ui-disabled;
    color: v.$ui-disabled;
  }
}

.btn--medium {
  font-size: 16px;
  max-width: 220px;
  min-height: 40px;

  &:hover {
    border-color: v.$ceramic;
    color: v.$ceramic;
  }

  &:active {
    border-color: v.$ceramic;
    color: v.$dark;
  }

  &:disabled {
    border-color: v.$ui-disabled;
    color: v.$ui-disabled;
  }
}

.btn--small {
  font-size: 14px;
  max-width: 145px;
  min-height: 32px;

  &:hover {
    border-color: v.$ceramic;
    color: v.$ceramic;
  }

  &:active {
    border-color: v.$ceramic;
    color: v.$dark;
  }

  &:disabled {
    border-color: v.$ui-disabled;
    color: v.$ui-disabled;
  }
}

.btn--compact {
  font-size: 16px;
  max-width: 90px;
  min-height: 40px;

  color: v.$light;
  border-color: v.$light;
  background-color: transparent;

  &:hover {
    border-color: v.$ceramic;
    color: v.$ceramic;
  }

  &:active {
    border-color: v.$ceramic;
    color: v.$dark;
  }

  &:disabled {
    border-color: v.$ui-disabled;
    color: v.$ui-disabled;
  }
}
