@use "../base/variables" as v;
@use "../base/functions" as fn;

.form {
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  align-items: stretch;

  &__fields {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    gap: 8px 45px;
    justify-items: center;

    @media screen and (min-width: 768px) {
      justify-items: start;
    }

    @media screen and (min-width: 1920px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    inline-size: 100%;
    max-inline-size: fn.fluid-value(340px, 360px, 300px, 768px);
  }

  &__input,
  &__textarea {
    border-radius: 2px;
    padding-inline: 15px;
    padding-block: 10px;
    border: 1px solid #e2e1e5;

    transition: all 0.3s ease;

    &:focus,
    &:hover {
      border: 1px solid v.$dark;
    }
  }

  &__input--black {
    background-color: transparent;
    border: none;
    padding-bottom: 15px;
    border-bottom: 1px solid v.$ui-active;
    color: v.$light;

    transition: all 0.3s ease;

    &:focus,
    &:hover {
      outline: none;
      border-bottom-color: v.$ceramic;
    }
  }

  &__textarea {
    resize: vertical;
    min-block-size: 132px;
    max-block-size: 250px;
  }

  &__agreement {
    display: flex;
    align-items: center;
    gap: 0 7px;
    margin-block: 20px;
    cursor: pointer;

    width: fit-content;
    align-self: center;

    a {
      color: #a22dc6;
    }

    @media screen and (min-width: 768px) {
      align-self: flex-start;
    }

    &--black {
      color: v.$light;
    }
  }

  &__checkbox {
    inline-size: 15px;
    block-size: 15px;
    accent-color: v.$ceramic;
    cursor: pointer;

    &--black {
      color: v.$light;
    }
  }

  button {
    margin-inline: auto;

    @media screen and (min-width: 768px) {
      margin-inline: 0;
    }
  }
}
